.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  margin: 0px;
  border: 0px;
  padding: 0 16px;

  /* margin-left: 16px; */
  display: flex;
  align-items: center;
}

@font-face {
  font-family: Norse;
  src: url();
}
.img-holder {
  /* display: flex;
  align-items: center; */

  min-width: 35%;
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-container {
  display: flex;
  /* padding: 32px; */
  flex: 1;
  flex-direction: column;
  background-color: antiquewhite;
}

.form-header {
  display: flex;
  flex-direction: column;
  flex: 40 1 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: xx-large;
  /* align-items: center; */
  justify-content: center;
  padding: 25px;
  background-color: aliceblue;
}

.form-input {
  display: flex;
  flex-direction: column;
  flex: 30 1 0;
  background-color: white;
  padding-top: 200px;
}

.form-footer {
  display: flex;
  flex-direction: column;
  flex: 30 1 0;
  flex-basis: auto;
  align-self: flex-start;
  padding-left: 45px;
  padding-top: 45px;
}
.container {
  display: flex;
  flex: 1;
}

.input-flex {
  display: flex;
  /* flex-direction: column; */
}

.form-alignment {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 25px;
}

.button {
  background-color: green;
}
.overlay {
  /* position: absolute; */
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.img-holder {
}
